{% extends "base_layout.html" %}

{% block admin_content %}
  <div class="admin-content">

    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">任务清单</strong> / <small>Task List</small></div>
    </div>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-6">
        <div class="am-btn-toolbar">
          <div class="am-btn-group am-btn-group-xs">
            <button type="button" class="am-btn am-btn-default task_add"><span class="am-icon-plus"></span> 新增</button>
            <button type="button" class="am-btn am-btn-default task_finish"><span class="am-icon-archive"></span> 完成</button>
            <button type="button" class="am-btn am-btn-default task_delete"><span class="am-icon-trash-o"></span> 删除</button>
          </div>
        </div>
      </div>

      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-form-group">
          <select data-am-selected="{btnSize: 'sm'}">
            <option value="option1">所有标签</option>
            <option value="option2">test</option>
          </select>
        </div>
      </div>

      <div class="am-u-sm-12 am-u-md-3">
        <div class="am-input-group am-input-group-sm">
          <input type="text" class="am-form-field">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button">搜索</button>
          </span>
        </div>
      </div>

    </div>

    <div class="am-g">
      <div class="am-u-sm-12">
        <form class="am-form">
          <table class="am-table am-table-striped am-table-hover table-main">
            <thead>
              <tr>
                <th class="table-check"><input type="checkbox" /></th>
                <th class="table-id">ID</th>
                <th class="table-title">任务名称</th>
                <th class="table-type">标签</th>
                <th class="table-author am-hide-sm-only">开始日期</th>
                <th class="table-date am-hide-sm-only">截止日期</th>
                <th class="table-set">操作</th>
              </tr>
            </thead>
            <tbody>
            <tbody>
            {% for task in task_list.items %}
              <tr>
                <td><input type="checkbox" /></td>
                <td>{{ task.task_id }}</td>
                <td><a href="#">{{ task.task_name }}</a></td>
                <td>
                  {%for label_id in task_id_to_label_id[task.task_id] %}
                    {% for label in user_labels %}
                      {% if label.label_id == label_id %}
                       <span class="am-badge am-badge-{{ label.Label_color }}">{{ label.Label_name }}</span>
                      {% endif %}
                    {% endfor %}
                  {% endfor %} 
                </td>
                <td class="am-hide-sm-only"> {{ task.start_date }} </td>
                <td class="am-hide-sm-only"> {{ task.end_date }} </td>
                <td>
                  <div class="am-btn-toolbar">
                    <div class="am-btn-group am-btn-group-xs">
                      <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                      <button class="am-btn am-btn-default am-btn-xs am-text-success"><span class="am-icon-copy"></span> 完成</button>
                      <button class="am-btn am-btn-default am-btn-xs am-text-danger"><span class="am-icon-trash-o"></span> 删除</button>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </table>

          <div class="am-cf">
            共 {{ task_list.total }} 条记录
            <div class="am-fr">
              <ul class="am-pagination">
                {% if task_list.has_prev %}
                  <li><a href="{{ url_for('home', page = task_list.prev_num) }}">«</a></li>
                {% endif %}
                  {% for page in task_list.iter_pages() %}
                    {% if page %}
                      {% if page != task_list.page %}
                       <li><a href="{{ url_for('home', page = page) }}">{{ page }}</a></li>
                      {% else %}
                        <li class="am-active"><a href="{{ url_for('home', page = page) }}">{{ page }}</a></li>     
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                {% if task_list.has_next %}
                  <li><a href="{{ url_for('home', page = task_list.next_num) }}">»</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
          <hr/>
          <p>向着目标、向着梦想、前进！</p>
        </form>
      </div>

    </div>
  </div>
{% endblock %}

{% block other_js %}
  <script type="text/javascript" src="/static/assets/js/task_operation.js"></script>
{% endblock%}
